<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" monitorInterval="60">
    <Appenders>
        <RollingFile name="app_file_log_rolling" fileName="${env:CATALINA_BASE:-.}/logs/example.log"
                     filePattern="${env:CATALINA_BASE:-.}/logs/example-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <pattern>%d{ISO8601} [%t] %p %c{3} - %m%n</pattern>
            </PatternLayout>
            <DefaultRolloverStrategy max="20"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="6" modulate="true" />
                <SizeBasedTriggeringPolicy size="100 MB" />
            </Policies>
        </RollingFile>
        <RollingFile name="requests_file_log_rolling" fileName="${env:CATALINA_BASE:-.}/logs/example-requests.log"
                     filePattern="${env:CATALINA_BASE:-.}/logs/example-requests-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <pattern>%d{ISO8601} [%t] %p %c{3} - %m%n</pattern>
            </PatternLayout>
            <DefaultRolloverStrategy max="100"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="6" modulate="true" />
                <SizeBasedTriggeringPolicy size="100 MB" />
            </Policies>
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="requests_completed" additivity="false">
            <AppenderRef ref="requests_file_log_rolling"/>
        </Logger>
        <Logger name="org.example" leve="trace">
            <AppenderRef ref="app_file_log_rolling"/>
        </Logger>
        <logger name="org.jboss.weld" leve="trace">
            <AppenderRef ref="app_file_log_rolling"/>
        </logger>
        <logger name="org.jboss.jandex" leve="trace">
            <AppenderRef ref="app_file_log_rolling"/>
        </logger>
        <Root level="trace">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>